<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><label for="openSportsGroupId">Enter your open sports group ID</label></p>
    <p><input type="text" name="openSportsGroupId" /></p>
    <p><input type="submit" value="Save" /></p>
  </body>
</html>
